<a href="https://colab.research.google.com/github/Mohit-Swain/COC_Python_Assign/blob/main/COC_Assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
def output_badge(credits):
    if credits < 4500:
        return "Rising Star"
    elif credits < 6000:
        return "Mega leader"
    elif credits < 7500:
        return "Gega leader"
    else: # credits >= 7500
        return "Tera leader"

credits = int(input("Enter credits "))
print(output_badge(credits))

Enter credits 5000
Mega leader

In [ ]:
#2
def simple_interest(amount, rate, time):
    return amount * rate * time / 100

amount = int(input("Enter amount "))
time = int(input("Enter time per annum "))
rate = int(input("Enter rate  per annum "))

print(simple_interest(amount,rate,time))

Enter amount1
Enter time per annum2
Enter rate  per annum3
0.06

In [ ]:
#3
def gcd(a , b):
    if b==0:
        return a
    return gcd(b,a%b)
    
print(gcd(21,56))

7

In [ ]:
#4
def print_sequence(limit = 100):
    i = 2
    jump = 4
    while i <= 100:
        print(i,end = ' ')
        i += jump
        jump += 4

print_sequence()

2 6 14 26 42 62 86

In [ ]:
#5
def count_digits(no):
    digit = 0
    while no > 0:
        digit += 1
        no //= 10
    return digit

no = int(input("Enter number "))
print(count_digits(no))

Enter number 100000007
9

In [ ]:
#6
def reverse_no(no):
    ans = 0
    while no > 0:
        last = no % 10
        ans = ans*10 + last
        no //= 10
    return ans

no = int(input("Enter number "))
print(reverse_no(no))

Enter number 9735
5379

In [ ]:
#7.a
def print_patternA(rows):
    for i in range(rows):
        for j in range(i+1):
            print('*',end = ' ')
        print()

print_patternA(5)

*
* *
* * *
* * * *
* * * * *

In [ ]:
#7.b
def print_patternB(rows):
    for i in range(rows):
        for j in range(i+1):
            print(j+1,end = ' ')
        print()

print_patternB(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#7.c
def print_patternC(rows):
    for i in range(rows):
        for j in range(rows - i):
            print(' ', end = ' ')
        for j in range(i):
            print(j+1,end = ' ')

        print(i + 1, end = ' ')

        for j in range(i,0,-1):
            print(j, end = ' ')
        print()



print_patternC(5)

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
#7.c
def print_patternD(rows):
    for i in range(rows):
        for j in range(rows - i):
            print(' ', end = ' ')

        temp = i + 1
        for j in range(i):
            print(temp,end = ' ')
            temp += 1

        print(temp, end = ' ')
        temp -= 1
        for j in range(i,0,-1):
            print(temp, end = ' ')
            temp -= 1
        print()



print_patternD(5)

          1
        2 3 2
      3 4 5 4 3
    4 5 6 7 6 5 4
  5 6 7 8 9 8 7 6 5

In [ ]:
#7.e
def print_patternE(rows):
    pascal = []
    for i in range(rows):
        pascal.append([])
        for j in range(i+1):
            if j == 0 or j == i:
                pascal[i].append(1)
            else:
                val = pascal[i-1][j-1] + pascal[i-1][j]
                pascal[i].append(val)
            print(pascal[i][j],end = ' ')
        print()

print_patternE(5)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
#7.f
def print_patternF(rows):
    for i in range(rows):
        for j in range(rows - i):
            print(' ',end = ' ')
        for j in range(2 * i + 1):
            print('*',end = ' ')
        print()

    print('* '*(2*rows + 1))

    for i in range(rows):
        for j in range(i + 1):
            print(' ',end = ' ')
        val = 2 * (rows - i) - 1
        for j in range(val):
            print('*',end = ' ')
        print()

print_patternF(4)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#7.g
def print_patternG(rows):
    for i in range(rows-1):
        print('* '*(i+1),end = '')
        print('  '*(2*(rows - i - 1)),end = '')
        print('* '*(i+1),end = '')
        print()
    print('* '*(2*rows))
    for i in range(rows-2,-1,-1):
        print('* '*(i+1),end = '')
        print('  '*(2*(rows - i - 1)),end = '')
        print('* '*(i+1),end = '')
        print()


print_patternG(5)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [35]:
#7.h
def print_patternH(rows):
    for i in range(rows):
        for j in range(rows - i,0,-1):
            print('*',end = ' ')
        val = max(0,2*(i-1)+1)
        for j in range(val):
            print(' ',end = ' ')
        if i==0:
            print('* '*(rows-1))
            continue
        for j in range(rows - i - 1,-1,-1):
            print('*',end = ' ')
        print()

    for i in range(1,rows):
        for j in range(i+1):
            print('*',end = ' ')
        val = max(0,2*rows - 2*i - 3)
        for j in range(val):
            print(' ',end = ' ')
        if i== rows-1:
            print('* '*(rows - 1))
            continue
        for j in range(i+1):
            print('*',end = ' ')

        print()

print_patternH(5)

* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *

In [44]:
#7.i
def print_patternI(rows):
    for i in range(rows):
        for j in range(rows,0,-1):
            val = max(rows-i,j)
            print(val,end= ' ')

        for j in range(1,rows):
            val = max(rows - i,j+1)
            print(val,end=' ')
        print()

    for i in range(rows-2,-1,-1):
        for j in range(rows,0,-1):
            val = max(rows-i,j)
            print(val,end= ' ')

        for j in range(1,rows):
            val = max(rows - i,j+1)
            print(val,end=' ')
        print()

print_patternI(5)

5 5 5 5 5 5 5 5 5
5 4 4 4 4 4 4 4 5
5 4 3 3 3 3 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 2 1 2 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 3 3 3 3 4 5
5 4 4 4 4 4 4 4 5
5 5 5 5 5 5 5 5 5